{% extends 'base.html' %}
{% block title %}{{ article.title|striptags }} // {{ super() }}{% endblock title %}

{% block head_css %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css">
{% endblock %}

{% block head_js %}
{% endblock %}

{% block content %}
<div class="pure-g-r" id="layout">
    <div class="sidebar sidebar-article pure-u">
        <header class="header-article">
            <hgroup>
                <a href="/">&larr;Home</a>
            </hgroup>
        </header>
    </div>
    <div class="pure-u">
        <div class="content">
            <section class="post">
                <header class="post-header">
                    <h1>{{ article.title }}</h1>
                    <p class="post-meta">
                        // under {% for tag in article.tags %}
                            <a class="post-category" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                        {% endfor %}
                    </p>
                    <p class="post-meta">
                        Published: {{ article.locale_date }}
                    </p>
                </header>
            </section>
            {{ article.content }}
            <div class="hr"></div>
            {% include 'footer.html' %}
        </div>
    </div>
</div>
{% endblock  %}
